.policys-wrapper {
  display: flex;
  justify-content: space-between; }
  .policys-wrapper .policys-list-item {
    width: 20%; }
    .policys-wrapper .policys-list-item .policys-list-item-l2 {
      border-right: 1px solid #c7c7c7; }
    .policys-wrapper .policys-list-item .policys-item {
      transition: all 0.3s ease;
      cursor: pointer;
      padding: 5px 10px;
      margin: 2px 0; }
      .policys-wrapper .policys-list-item .policys-item:hover {
        background-color: #eaeaea; }
        .policys-wrapper .policys-list-item .policys-item:hover p {
          text-decoration: underline; }
      .policys-wrapper .policys-list-item .policys-item.active {
        background-color: #eaeaea; }
        .policys-wrapper .policys-list-item .policys-item.active p {
          color: var(--main_color); }
      .policys-wrapper .policys-list-item .policys-item p {
        margin: 0;
        color: #3d3d3d; }
  .policys-wrapper .policys-content {
    width: 79%;
    padding: 5px;
    text-align: justify; }

@media only screen and (max-width: 769px) {
  .policys-wrapper .policys-content {
    width: 100%;
    padding: 5px; }
  .policys-list-item {
    display: none; } }
