//Color
$white: #ffffff;

$black: #000000;
$black-l1: #000000c2;
$black-l2: #00000090;
$black-l3: #00000065;
$black-l4: #00000031;

$gray: #787878;
$gray-l1: #979797;
$gray-l2: #a9a9a9;
$gray-l3: #c7c7c7;
$gray-l4: #dbdbdb;
$gray-l5: #f0f0f0;

$red: #f80606;

$transparent: #00000000;

$aqua: #95d2ec;

$hight-light: #288ad6;
$green-hight-light: #1fd18e;

$opacity-black-l3: #00000053;
//aimate
$item-shadown: 0 2px 12px rgba(0, 0, 0, 0.12);
$shadown-input: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadown-wrapper: 0px 2px 10px 2px rgba(0, 0, 0, 0.08);

$transition-color: color 0.3s ease;
$transition-bg-color: background-color 0.3s ease;
$transition-transform: transform 0.3s ease;
$transition-opacity: opacity 0.3s ease;
$transition-width: width 0.3s ease;
$transition-border-color: border-color 0.3s ease;
$transition-left: left 0.3s ease;

//Size
$max-width-app: 1110px;
$height-header-mobile: 60px;

//boottrap
