<div id='toast'></div>
<div class='loading-page'>
    <div class='loader'></div>
</div>
<div class='opacity-menu animate__animated'></div>
<div class='opacity animate__animated animate__fadeIn' style='display: none'>
    <div class='opacity-children animate__animated animate__zoomIn'>
        <div class='opacity-children-title'>
            <h3></h3>
            <span class='close-opacity-btn'><i class='close'></i></span>
        </div>
        <div class='opacity-children-content'></div>
    </div>
</div>
<div class='sidebar animate__animated'>
    <div class='logo-wrapper'>
        {{! <img src='./img/logo.png' alt='logo' /> }}
        <h2></h2>

        <span class='close-opacity-btn close-menu-icon' style='display: none;'><i class='close'></i></span>
    </div>

    <div class='sidebar-content'>
        <div class='sidebar-content-top'>

        </div>
        <div class='sidebar-content-bottom'>
            <div class='sidebar-option logout' tab='log-out'>
                <i class='fas fa-sign-out-alt'></i>
                <h2>Đăng xuất</h2>
                <div class='bg-option'></div>
            </div>
        </div>
    </div>
</div>
<div class='root'>
    <div class='header'>
        <div class='menu-icon-btn'><i class='fas fa-bars'></i></div>
        <div class='header-left'><h2>Trang</h2></div>
        <div class='header-right'>
            <div class='reload-btn icon-circle'>
                <i class='fas fa-sync-alt'></i>
            </div>
        </div>
    </div>
    <div class='main-content'>
        
    </div>
</div>