<div class='cart-page-wrapper'>
    {{! <div class='page-title'>
        <h2>GIỎ HÀNG</h2>
    </div> }}
    <div><h2>Giỏ hàng của bạn</h2></div>
    <div class='cart-wrapper'>
        <div class='cart-infor'>

        </div>
        <div class='payment-infor'>

        </div>
    </div>
</div>