 <div class="fix wrapper-contact-page">
  <div id="preloader" style="display:block">
    <div id="loader"></div>
  </div>

  <section id="site-breadcumb">
    <div class="site-breadcumb-wrapper bg-breadcumb">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcumb-content">
              <h1 class="breadcumb-title" data-lang="contact_header">Kết Nối Với
                Chúng Tôi</h1>
              <ul class="page-navigator">
                {{#getBreadcurmb 'Liên hệ' lang 'lien-he'}}{{/getBreadcurmb}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="about-sec contact-page-sec sec-ptb">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="sec-content">
            <h2 class="sec-title" data-lang="contact_lienlac">Liên Lạc</h2>
            <div class="col-sm-12">
              <h5 class="mb-3"
                style="color:#16A571; font-size: 22px; text-align:left">{{companyInfor.information.0.name}}
              </h5>
              <div class="qinfo-item">
                <div class="qinfo-icon"><i
                    class="flaticon-maps-and-flags"></i></div>
                <div class="qinfo-box">
                  <h5 data-lang="contact_diachi">Địa
                    chỉ</h5><a>{{companyInfor.address.0.location}}</a>
                </div>
              </div>
              <div class="phone-email">
                <div class="qinfo-item">
                  <div class="qinfo-icon"><i class="flaticon-call"></i></div>
                  <div class="qinfo-box">
                    <h5 data-lang="contact_goingay">Gọi
                      ngay</h5><a>{{companyInfor.phones.0.phone}}</a>
                  </div>
                </div>
                <div class="qinfo-item mb-0">
                  <div class="qinfo-icon"><i
                      class="flaticon-gmail-logo"></i></div>
                  <div class="qinfo-box">
                    <h5>Email</h5><a> {{companyInfor.emails.0.email}}</a>
                  </div>
                </div>
              </div>
            </div>
            <form class="itco-cform" method="post">
              <div class="row">
                <div class="col-sm-6">
                  <div class="contact-field"><input type="text" id="firstn"
                      placeholder="Họ & tên" name="firstn" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="contact-field"><input type="text" id="phone"
                      placeholder="Số điện thoại"
                      name="phone" /></div>
                </div>
                <div class="col-sm-12">
                  <div class="contact-field"><textarea name="message"
                      id="message" cols="40" rows="4"
                      placeholder="Nội dung"></textarea></div>
                  <div class="itco-form-btn"><button
                      class="thm-btn btn-css"><span class="txt"
                        data-lang="contact_gui">Gửi</span></button></div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6 tab-col-gap">
          <div class="sec-content justify-content-start">
            <h2 class="sec-title" data-lang="contact_bando">Bản Đồ</h2>
            <div class="contact-map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.3135856706826!2d106.73499489678959!3d10.863736500000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527205f83292f%3A0x6d927aebd4ae2ea6!2zQ8O0bmcgdHkgQ-G7lSBwaOG6p24gVMOgaSBY4bq_IEPDtG5nIE5naOG7hw!5e0!3m2!1svi!2s!4v1720492134836!5m2!1svi!2s"
                width="100%" height="550" style="border:0;" allowfullscreen
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

</div>