<div class='error-element'>
    <img
        alt='error-image'
        src='https://cdn.dribbble.com/users/1537480/screenshots/7199901/media/04f1bc09a3a16f5efc155fe9ea829cbc.png?compress=1&resize=400x300'
    />
</div>