<div class="fix wrapper-about-us-page">
    <div id="preloader" style="display:block">
        <div id="loader"></div>
    </div>

    <section id="site-breadcumb">
        <div class="site-breadcumb-wrapper bg-breadcumb">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="breadcumb-content">
                            <h1 class="breadcumb-title" data-lang="about">Về chúng tôi</h1>
                            <ul class="page-navigator">
                                                          {{#getBreadcurmb 'Giới thiệu' lang gioi-thieu}}{{/getBreadcurmb}}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-sec sec-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12" data-aos="fade-right" data-aos-duration="2800">
                    <div class="sec-images">
                        <div><img src="/static/_assets/images/aboutus/1.jpg" alt=""></div>
                        <div><img src="/static/_assets/images/aboutus/2.jpg" alt=""></div>
                        <div><img src="/static/_assets/images/aboutus/3.jpeg" alt=""></div>
                    </div>
                </div>
                <div class="col-lg-6 col-12" data-aos="fade-left" data-aos-duration="2800"
                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 500ms;">
                    <div class="sec-content">
                        {{!-- <h6 class="sec-sub-title text-center-mobile">Giới thiệu về chúng tôi</h6> --}}
                        <h2 class="sec-title" data-lang="intro_header">Tài xế công nghệ - TDC</h2>
                  {{#if (eq lang 'vi')}}
    <p class="sec-text">
        Tài xế công nghệ - Technology Driver Corporation
        được thành lập từ đội ngũ năng
        động, trình độ chuyên môn cao, nhiệt huyết và được đào tạo chuyên nghiệp. Chúng tôi
        thấm nhuần phương châm <b>“Lấy khách hàng làm trọng tâm”</b> để phục vụ tốt nhất và
        không
        ngừng cải tiến, nghiên cứu để tìm ra giải pháp giải quyết mọi vấn đề của ngành Vận
        tải.
    </p>
    <p class="sec-text">
        đem đến cho khách hàng 3 dòng sản phẩm chính: <b>Thiết bị quản lý
            giám sát
            hành trình 5G GPS với eSIM</b>; <b>Camera hành trình</b>; <b>Camera giám sát
            theo nghị định 10</b>.
        Đặc biệt, chúng tôi tự hào là đơn vị tiên phong cung cấp Thiết bị quản lý giám sát
        hành trình với eSIM cùng những tính năng vượt trội so với sim truyền thống.
    </p>
    <p class="sec-text">
        <b>TD CORP</b> tin tưởng mình sẽ trở thành <b>“Người bạn đồng hành không thể
            thiếu”</b> của các
        khách hàng bằng những bước phát triển vượt bậc trong sản phẩm và bằng thái độ chuyên
        nghiệp của đội ngũ nhân viên TDC.
    </p>
{{else}}
    <p class="sec-text">
        Technology Driver Corporation was founded by a dynamic, highly skilled, passionate, and professionally trained team. We embrace the motto <b>“Customer-centric”</b> to provide the best service and continuously improve and research to find solutions for every problem in the transportation industry.
    </p>
    <p class="sec-text">
        We offer customers three main product lines: <b>5G GPS Journey Monitoring Devices with eSIM</b>; <b>Dash Cameras</b>; <b>Surveillance Cameras in accordance with Decree 10</b>. We are especially proud to be the pioneer in providing Journey Monitoring Devices with eSIM, which offers superior features compared to traditional SIM cards.
    </p>
    <p class="sec-text">
        <b>TD CORP</b> believes it will become an <b>“Indispensable companion”</b> for customers, marked by significant advancements in products and the professional attitude of TDC staff.
    </p>
{{/if}}


                    </div>
                </div>

            </div>
            <div class="row mt-5">
                <div class="col-lg-6 mb-3" data-aos="fade-right" data-aos-duration="2500">
                    <img src="/static/_assets/images/aboutus/tamnhin.webp" alt="about-image">
                    <div class="infor mt-3">
                        <h2 class="fs-3" data-lang="intro_tam_nhin">Tầm nhìn</h2>
                        <p class="sec-text text-justify" data-lang="intro_content_tam_nhin">
                            TDC quyết tâm và phấn đấu không ngừng để vươn đến khát vọng trở thành “Công ty dẫn
                            đầu về thiết bị công nghệ hiện đại trong lĩnh vực Giao thông vận tải”
                        </p>

                    </div>
                </div>
                <div class="col-lg-6 mb-3" data-aos="fade-left" data-aos-duration="2500">
                    <img src="/static/_assets/images/aboutus/sumenh.jpg" alt="about-image">
                    <div class="infor mt-3">
                        <h2 class="fs-3" data-lang="intro_su_menh">Sứ mệnh</h2>
                        <p class="sec-text text-justify" data-lang="intro_content_su_menh">
                            {{!-- Lấy khách hàng làm trọng tâm, lấy uy tín làm mục đích phát triển và kinh doanh
                            trách nhiệm”. TD CORP luôn lắng nghe để thấu hiểu từng nhu cầu của Quý khách hàng,
                            nỗ lực nghiên cứu không ngừng những giải pháp quản lý vận tải giúp tối ưu lợi nhuận
                            cho khách hàng. --}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <h2 class="title-gt text-center mb-5" data-lang="intro_giatri">Giá trị cốt lõi</h2>
                <div class="col-md-6 col-lg-4" data-aos="flip-right">
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"
                        style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms;">
                        <div class="content-box">
                            <div class="single-service-content  d-flex">
                                <h3 data-lang="intro_xuhuong">Xu hướng</h3>
                                <i class="flaticon-content-management"></i>
                            </div>
                            <div class="single-service-icon" >

                                <p data-lang="intro_content_xuhuong">Liên tục cập nhật, bắt kịp xu hướng mới của thời đại 4.0, nghiên cứu và phát
                                    triển những sản phẩm công nghệ cao và những giải pháp ưu việt đáp ứng nhu
                                    cầu của khách hàng.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="col-md-6 col-lg-4" data-aos="flip-right">
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"
                        style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms;">
                        <div class="content-box">
                            <div class="single-service-content  d-flex">
                                <h3 data-lang="intro_conghien">Cống hiến</h3>
                                <i class="flaticon-security"></i>
                            </div>
                            <div class="single-service-icon">

                                <p data-lang="intro_content_conghien">Với phương châm “Cống hiến hết mình, làm việc hết sức”, hoàn thiện mỗi ngày trở thành “phiên bản tốt nhất” để đem lại những trải nghiệm và phục vụ khách hàng hơn cả sự mong đợi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="col-md-6 col-lg-4" data-aos="flip-right">
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"
                        style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms;">
                        <div class="content-box">
                            <div class="single-service-content  d-flex">
                                <h3 data-lang="intro_sangtao">Sáng tạo</h3>
                                <i class="flaticon-software-development"></i>
                            </div>
                            <div class="single-service-icon">
                                <p data-lang="intro_content_sangtao">Sáng tạo, đổi mới không ngừng, tạo sự khác biệt trong từng sản phẩm bằng những bước tiến đột phá về công nghệ.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>