<div class='order-page-wrapper'>
    <div class='page-title'>
        <h2>THANH TOÁN</h2>
    </div>
    <div class='order-wrapper'>
        <div class='order-infor'>
            <div class='order-header-title'>
                <h3>THÔNG TIN GIAO HÀNG</h3>
            </div>

            <form class='contact-form order-form'>
                <div class='input-group haft-input'>
                    <div class='icon-input'>
                        <i class='fas fa-user'></i>
                    </div>
                    <input class='required-infor' type='text' id='name' name='fullname' placeholder='HỌ VÀ TÊN' />
                </div>

                <div class='input-group haft-input'>
                    <div class='icon-input'>
                        <i class='bi bi-telephone-fill'></i>
                    </div>
                    <input
                        class='required-infor'
                        type='number'
                        id='phone_number'
                        name='phone_number'
                        placeholder='SỐ ĐIỆN THOẠI'
                    />
                </div>
                <div class='input-group'>
                    <div class='icon-input'>
                        <i class='bi bi-envelope-fill'></i>
                    </div>
                    <input class='required-infor' type='text' id='email' name='email' placeholder='EMAIL' />
                </div>

                <div class='input-group'>
                    <div class='icon-input'>
                        <i class='fas fa-map-marker-alt'></i>
                    </div>
                    <input class='required-infor' type='text' id='address' name='address' placeholder='ĐỊA CHỈ' />
                </div>

                <div class='input-group'>
                    <div class='icon-input'>
                        <i class='fas fa-edit'></i>
                    </div>
                    <textarea class='required-infor' type='text' id='note' name='note' placeholder='GHI CHÚ'></textarea>
                </div>

            </form>

        </div>
        <div class='cart-infor'>
            <div class='order-header-title'>
                <h3>ĐƠN HÀNG CỦA BẠN</h3>
            </div>

            <div class='main-order-infor'></div>

        </div>
    </div>
</div>