<div class='recr-page-wrapper'>
    <div class='page-title'>
        <h2>TUYỂN DỤNG</h2>
    </div>
    <div class='main-recr'>
        {{#each recrs}}
            <a href='/tuyen-dung/{{slug}}'>
                <div class='recr-group-item'>
                    <div class='recr-item-image'>
                        <img alt='hinh-anh-banner-tuyen-dung' src='{{this.image}}' />
                    </div>
                    <div class='rect-item-infor'>
                        <div class='recr-item-title'>
                            <h3>{{this.title}}</h3>
                        </div>
                        <div class='recr-item-des'>
                            <p>{{this.des}}</p>
                        </div>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
</div>