<div class='service-detail-wrapper-page'>
    <div class='service-title-page'>
        <h2>{{service.name}}</h2>
    </div>
    <div class='service-content'>
        {{{service.content}}}
    </div>
</div>