<div class="fix wrapper-solution-page page">
    <div id="preloader" style="display:block">
        <div id="loader"></div>
    </div>
    <section id="site-breadcumb">
        <div class="site-breadcumb-wrapper bg-breadcumb">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="breadcumb-content">
                            <h1 class="breadcumb-title" data-lang="solutions">Giải pháp</h1>
                            <ul class="page-navigator">
                                {{#getBreadcurmb 'Giải pháp' lang 'giai-phap'}}{{/getBreadcurmb}}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="service-sec2 sec-ptb2 bg-light-greem">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="sec-content text-center mb-2">
                        <h2 class="sec-title" data-lang="solutions_giaiphap">GIẢI PHÁP</h2>
                        <h5 class="sec-sub-title" data-lang="solutions_cuachungtoi">của chúng tôi</h5>
                    </div>
                </div>
            </div>
            <div class="row header-section-solutions">
                <div class="col-md-6 col-lg-4">
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms"
                        style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms;">
                        <div class="img-box"><img alt="service" loading="lazy" width="auto" height="120"
                                decoding="async" data-nimg="1" class="h-h-100"
                                src="/static/_assets/images/solution/phone.gif" style="color: transparent;"></div>
                        <div class="boxer">
                            <div class="single-service-content">
                                <h3>CẢM BIẾN DẦU</h3>
                                <p>Optimization is the process of enhancing efficiency and effectiveness within
                                    your business operations or technology systems.</p>
                            </div>
                        </div>
                        <div class="downPage">
                            <a href="#section-solution-temp"><i class="fa-solid fa-angles-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms"
                        style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms;">
                        <div class="img-box"><img alt="service" loading="lazy" width="auto" height="120"
                                decoding="async" data-nimg="1" class="h-h-100"
                                src="/static/_assets/images/solution/temperature.gif" style="color: transparent;">
                        </div>
                        <div class="boxer">
                            <div class="single-service-content">
                                <h3>CẢM BIẾN NHIỆT</h3>
                                <p>Optimization is the process of enhancing efficiency and effectiveness within
                                    your business operations or technology systems.</p>
                            </div>
                        </div>
                        <div class="downPage">
                            <a href="#"><i class="fa-solid fa-angles-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms"
                        style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms;">
                        <div class="img-box"><img alt="service" loading="lazy" width="auto" height="120"
                                decoding="async" data-nimg="1" class="h-h-100"
                                src="/static/_assets/images/solution/cctv.gif" style="color: transparent;"></div>
                        <div class="boxer">
                            <div class="single-service-content">
                                <h3>CAMERA TÍCH HỢP AI</h3>
                                <p>Optimization is the process of enhancing efficiency and effectiveness within
                                    your business operations or technology systems.</p>
                            </div>
                        </div>
                        <div class="downPage">
                            <a href="#"><i class="fa-solid fa-angles-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="main-section-solutions">
    <section id="section-solution-temp" class="solution sec-ptb  ">
        <div class="container">
            <div class="title-solution">
                <h2>THIẾT BỊ CẢM BIẾN DẦU</h2>
                <p class="text-center">Giải pháp hoàn hảo để quản lý nhiên liệu.</p>
            </div>

            <div class="solution-banner">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScCFk3FTOU5y7LCoXqfqaUoO9vhOc4htOAFg&s"
                    alt="">
            </div>
            <div class="product row mt-5">
                <div class="col-lg-6 mb-5">
                    <div class="slider-product">
                        <div class=" slider fade1">
                            <div style="height: 350px;">
                                <img src="https://viet_node2.midvietnam.com/files/camnghidinh10.jpg" alt="Second slide">
                            </div>
                            <div style="height: 350px;">
                                <img src="https://viet_node2.midvietnam.com/files/thietbidinhvi1.jpg" alt="Third slide">
                            </div>
                            <div style="height: 350px;">
                                <img src="https://viet_node2.midvietnam.com/files/camgnghidinh2.jpg" alt="First slide">
                            </div>
                            <div style="height: 350px;">
                                <img src="https://bagps.vinadigi.vn/public/media//thumb/banner-gallery-1920x418.jpg"
                                    alt="Second slide">
                            </div>
                            <div style="height: 350px;">
                                <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lt1zzedchk9015"
                                    alt="Third slide">
                            </div>
                            <div style="height: 350px;">
                                <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lt1zzedchk9015"
                                    alt="Third slide">
                            </div>

                        </div>
                        <div class="slider slider-nav">
                            <div> <img class="d-block" src="https://viet_node2.midvietnam.com/files/camnghidinh10.jpg"
                                    alt="Third slide"></div>
                            <div> <img class="d-block" src="https://viet_node2.midvietnam.com/files/thietbidinhvi1.jpg"
                                    alt="Third slide"></div>
                            <div> <img class="d-block" src="https://viet_node2.midvietnam.com/files/camgnghidinh2.jpg"
                                    alt="Third slide"></div>
                            <div> <img class="d-block"
                                    src="https://bagps.vinadigi.vn/public/media//thumb/banner-gallery-1920x418.jpg"
                                    alt="Third slide"></div>
                            <div> <img class="d-block"
                                    src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lt1zzedchk9015"
                                    alt="Third slide"></div>
                            <div> <img class="d-block"
                                    src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lt1zzedchk9015"
                                    alt="Third slide"></div>
                        </div>
                        <div class="support-btn">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#form-support">
                                ĐĂNG KÝ TƯ VẤN
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="form-support" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Đăng ký nhận tư vấn</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-item">
                                                 <input class="form-control" type="text" placeholder="Nhập họ tên" name="fullname">
                                            </div>
                                            <div class="modal-item"> 
                                                <input class="form-control phonenumber" type="text"
                                                    placeholder="Nhập số điện thoại  " name="phonenumber">
                                            </div>
                                            <div class="modal-item">
                                                <select class="form-select select-province" name="province_id"
                                                    data-gtm-form-interact-field-id="2">
                                                    <option value="0" selected="" disabled="">Khu vực</option>
                                                    <option value="101">Hà&nbsp;Nội</option>
                                                    <option value="701">TP&nbsp;Hồ&nbsp;Chí&nbsp;Minh</option>
                                                    <option value="501">Đà&nbsp;Nẵng</option>
                                                    <option value="805">An&nbsp;Giang</option>
                                                    <option value="717">Bà&nbsp;Rịa&nbsp;-&nbsp;Vũng&nbsp;Tàu</option>
                                                    <option value="207">Bắc&nbsp;Cạn</option>
                                                    <option value="221">Bắc&nbsp;Giang</option>
                                                    <option value="821">Bạc&nbsp;Liêu</option>
                                                    <option value="223">Bắc&nbsp;Ninh</option>
                                                    <option value="811">Bến&nbsp;Tre</option>
                                                    <option value="507">Bình&nbsp;Định</option>
                                                    <option value="711">Bình&nbsp;Dương</option>
                                                    <option value="707">Bình&nbsp;Phước</option>
                                                    <option value="715">Bình&nbsp;Thuận</option>
                                                    <option value="823">Cà&nbsp;Mau</option>
                                                    <option value="815">Cần&nbsp;Thơ</option>
                                                    <option value="203">Cao&nbsp;Bằng</option>
                                                    <option value="605">Đắc&nbsp;Lắc</option>
                                                    <option value="606">Đắk&nbsp;Nông</option>
                                                    <option value="301">Điện&nbsp;Biên</option>
                                                    <option value="713">Đồng&nbsp;Nai</option>
                                                    <option value="803">Đồng&nbsp;Tháp</option>
                                                    <option value="603">Gia&nbsp;Lai</option>
                                                    <option value="201">Hà&nbsp;Giang</option>
                                                    <option value="111">Hà&nbsp;Nam</option>
                                                    <option value="405">Hà&nbsp;Tĩnh</option>
                                                    <option value="107">Hải&nbsp;Dương</option>
                                                    <option value="103">Hải&nbsp;Phòng</option>
                                                    <option value="816">Hậu&nbsp;Giang</option>
                                                    <option value="305">Hòa&nbsp;Bình</option>
                                                    <option value="109">Hưng&nbsp;Yên</option>
                                                    <option value="511">Khánh&nbsp;Hòa</option>
                                                    <option value="813">Kiên&nbsp;Giang</option>
                                                    <option value="601">Kon&nbsp;Tum</option>
                                                    <option value="302">Lai&nbsp;Châu</option>
                                                    <option value="703">Lâm&nbsp;Đồng</option>
                                                    <option value="209">Lạng&nbsp;Sơn</option>
                                                    <option value="205">Lào&nbsp;Cai</option>
                                                    <option value="801">Long&nbsp;An</option>
                                                    <option value="113">Nam&nbsp;Định</option>
                                                    <option value="403">Nghệ&nbsp;An</option>
                                                    <option value="117">Ninh&nbsp;Bình</option>
                                                    <option value="705">Ninh&nbsp;Thuận</option>
                                                    <option value="217">Phú&nbsp;Thọ</option>
                                                    <option value="509">Phú&nbsp;Yên</option>
                                                    <option value="407">Quảng&nbsp;Bình</option>
                                                    <option value="503">Quảng&nbsp;Nam</option>
                                                    <option value="505">Quảng&nbsp;Ngãi</option>
                                                    <option value="225">Quảng&nbsp;Ninh</option>
                                                    <option value="409">Quảng&nbsp;Trị</option>
                                                    <option value="819">Sóc&nbsp;Trăng</option>
                                                    <option value="303">Sơn&nbsp;La</option>
                                                    <option value="709">Tây&nbsp;Ninh</option>
                                                    <option value="115">Thái&nbsp;Bình</option>
                                                    <option value="215">Thái&nbsp;Nguyên</option>
                                                    <option value="401">Thanh&nbsp;Hoá</option>
                                                    <option value="411">Thừa&nbsp;Thiên&nbsp;-&nbsp;Huế</option>
                                                    <option value="807">Tiền&nbsp;Giang</option>
                                                    <option value="211">Tuyên&nbsp;Quang</option>
                                                    <option value="817">Trà&nbsp;Vinh</option>
                                                    <option value="809">Vĩnh&nbsp;Long</option>
                                                    <option value="219">Vĩnh&nbsp;Phúc</option>
                                                    <option value="213">Yên&nbsp;Bái</option>
                                                </select>
                                            </div>
                                            <div class="modal-item"><textarea class="form-control message" type="text"
                                                    placeholder="Nhập lời nhắn" name="message"
                                                    data-gtm-form-interact-field-id="3"></textarea></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary btn_register_solution">Gửi</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="solution-banner">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScCFk3FTOU5y7LCoXqfqaUoO9vhOc4htOAFg&s"
                        alt="">
                </div>
                <div class="product row mt-5">
                    <div class="col-lg-6 mb-2">
                        <div class="slider-product">
                            <div class=" slider fade1">
                                <div style="height: 350px;">
                                    <img src="https://viet_node2.midvietnam.com/files/camnghidinh10.jpg"
                                        alt="Second slide">
                                </div>
                                <div style="height: 350px;">
                                    <img src="https://viet_node2.midvietnam.com/files/thietbidinhvi1.jpg"
                                        alt="Third slide">
                                </div>
                                <div style="height: 350px;">
                                    <img src="https://viet_node2.midvietnam.com/files/camgnghidinh2.jpg"
                                        alt="First slide">
                                </div>
                                <div style="height: 350px;">
                                    <img src="https://bagps.vinadigi.vn/public/media//thumb/banner-gallery-1920x418.jpg"
                                        alt="Second slide">
                                </div>
                                <div style="height: 350px;">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lt1zzedchk9015"
                                        alt="Third slide">
                                </div>
                                <div style="height: 350px;">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lt1zzedchk9015"
                                        alt="Third slide">
                                </div>

                            </div>
                            <div class="slider slider-nav">
                                <div> <img class="d-block"
                                        src="https://viet_node2.midvietnam.com/files/camnghidinh10.jpg"
                                        alt="Third slide"></div>
                                <div> <img class="d-block"
                                        src="https://viet_node2.midvietnam.com/files/thietbidinhvi1.jpg"
                                        alt="Third slide"></div>
                                <div> <img class="d-block"
                                        src="https://viet_node2.midvietnam.com/files/camgnghidinh2.jpg"
                                        alt="Third slide"></div>
                                <div> <img class="d-block"
                                        src="https://bagps.vinadigi.vn/public/media//thumb/banner-gallery-1920x418.jpg"
                                        alt="Third slide"></div>
                                <div> <img class="d-block"
                                        src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lt1zzedchk9015"
                                        alt="Third slide"></div>
                                <div> <img class="d-block"
                                        src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lt1zzedchk9015"
                                        alt="Third slide"></div>
                            </div>
                            <div class="support-btn">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#form-support">
                                    ĐĂNG KÝ TƯ VẤN
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="form-support" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Đăng ký nhận tư vấn
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-item"> <input class="form-control" type="text"
                                                        placeholder="Nhập họ tên" name="fullname">
                                                </div>
                                                <div class="modal-item"> <input class="form-control" type="text"
                                                        placeholder="Nhập số điện thoại  " name="phone">
                                                </div>
                                                <div class="modal-item">
                                                    <select class="form-select" name="province_id"
                                                        data-gtm-form-interact-field-id="2">
                                                        <option value="0" selected="" disabled="">Khu vực</option>
                                                        <option value="101">Hà&nbsp;Nội</option>
                                                        <option value="701">TP&nbsp;Hồ&nbsp;Chí&nbsp;Minh</option>
                                                        <option value="501">Đà&nbsp;Nẵng</option>
                                                        <option value="805">An&nbsp;Giang</option>
                                                        <option value="717">Bà&nbsp;Rịa&nbsp;-&nbsp;Vũng&nbsp;Tàu
                                                        </option>
                                                        <option value="207">Bắc&nbsp;Cạn</option>
                                                        <option value="221">Bắc&nbsp;Giang</option>
                                                        <option value="821">Bạc&nbsp;Liêu</option>
                                                        <option value="223">Bắc&nbsp;Ninh</option>
                                                        <option value="811">Bến&nbsp;Tre</option>
                                                        <option value="507">Bình&nbsp;Định</option>
                                                        <option value="711">Bình&nbsp;Dương</option>
                                                        <option value="707">Bình&nbsp;Phước</option>
                                                        <option value="715">Bình&nbsp;Thuận</option>
                                                        <option value="823">Cà&nbsp;Mau</option>
                                                        <option value="815">Cần&nbsp;Thơ</option>
                                                        <option value="203">Cao&nbsp;Bằng</option>
                                                        <option value="605">Đắc&nbsp;Lắc</option>
                                                        <option value="606">Đắk&nbsp;Nông</option>
                                                        <option value="301">Điện&nbsp;Biên</option>
                                                        <option value="713">Đồng&nbsp;Nai</option>
                                                        <option value="803">Đồng&nbsp;Tháp</option>
                                                        <option value="603">Gia&nbsp;Lai</option>
                                                        <option value="201">Hà&nbsp;Giang</option>
                                                        <option value="111">Hà&nbsp;Nam</option>
                                                        <option value="405">Hà&nbsp;Tĩnh</option>
                                                        <option value="107">Hải&nbsp;Dương</option>
                                                        <option value="103">Hải&nbsp;Phòng</option>
                                                        <option value="816">Hậu&nbsp;Giang</option>
                                                        <option value="305">Hòa&nbsp;Bình</option>
                                                        <option value="109">Hưng&nbsp;Yên</option>
                                                        <option value="511">Khánh&nbsp;Hòa</option>
                                                        <option value="813">Kiên&nbsp;Giang</option>
                                                        <option value="601">Kon&nbsp;Tum</option>
                                                        <option value="302">Lai&nbsp;Châu</option>
                                                        <option value="703">Lâm&nbsp;Đồng</option>
                                                        <option value="209">Lạng&nbsp;Sơn</option>
                                                        <option value="205">Lào&nbsp;Cai</option>
                                                        <option value="801">Long&nbsp;An</option>
                                                        <option value="113">Nam&nbsp;Định</option>
                                                        <option value="403">Nghệ&nbsp;An</option>
                                                        <option value="117">Ninh&nbsp;Bình</option>
                                                        <option value="705">Ninh&nbsp;Thuận</option>
                                                        <option value="217">Phú&nbsp;Thọ</option>
                                                        <option value="509">Phú&nbsp;Yên</option>
                                                        <option value="407">Quảng&nbsp;Bình</option>
                                                        <option value="503">Quảng&nbsp;Nam</option>
                                                        <option value="505">Quảng&nbsp;Ngãi</option>
                                                        <option value="225">Quảng&nbsp;Ninh</option>
                                                        <option value="409">Quảng&nbsp;Trị</option>
                                                        <option value="819">Sóc&nbsp;Trăng</option>
                                                        <option value="303">Sơn&nbsp;La</option>
                                                        <option value="709">Tây&nbsp;Ninh</option>
                                                        <option value="115">Thái&nbsp;Bình</option>
                                                        <option value="215">Thái&nbsp;Nguyên</option>
                                                        <option value="401">Thanh&nbsp;Hoá</option>
                                                        <option value="411">Thừa&nbsp;Thiên&nbsp;-&nbsp;Huế</option>
                                                        <option value="807">Tiền&nbsp;Giang</option>
                                                        <option value="211">Tuyên&nbsp;Quang</option>
                                                        <option value="817">Trà&nbsp;Vinh</option>
                                                        <option value="809">Vĩnh&nbsp;Long</option>
                                                        <option value="219">Vĩnh&nbsp;Phúc</option>
                                                        <option value="213">Yên&nbsp;Bái</option>
                                                    </select>
                                                </div>
                                                <div class="modal-item"><textarea class="form-control" type="text"
                                                        placeholder="Nhập lời nhắn" name="message"
                                                        data-gtm-form-interact-field-id="3"></textarea></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary">Gửi</button>
                                            </div>
                                            <div class="modal-item"><textarea class="form-control" type="text"
                                                    placeholder="Nhập lời nhắn" name="message"
                                                    data-gtm-form-interact-field-id="3"></textarea></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary btn_register_solution">Gửi 1212</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

    </div>



</div>
<script>
    const Datasolutions = {{{ solutions }}}
</script>